    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 9%;
        padding-right: 9%;

        img {
            width: 57%;
            height: auto;
        }
    
}