* {
    border: 0;
    margin: 0;
    box-sizing: border-box;

    body {
        background-color: #E5E5E5;
    }

    @import "./Components/Layout/Header/Header-Desktop";
    @import "./Components/Layout/Header/Header-Mobile";
    @import "./Components/Layout/Header/Header-Tablet";
    @import "./Components/Layout/Footer/Footer-Desktop";
    @import "./Components/Layout/Footer/Footer-Mobile";
    @import "./Components/Layout/Footer/Footer-Tablet";
    // @import "./Components/Home/Home-Desktop";
    // @import "./Components/Home/Home-Mobile";
    // @import "./Components/Home/Home-Tablet";
    // @import "./Components/Pages/404page/page404";
    @import "./Components/Pages/page403/page403";
}