@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");
@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");
* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  background-color: #d4d3d3;
}

@media only screen and (min-width: 451px) and (max-width: 1024px) {
  * .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3%;
  }
  * .footer img {
    width: 28.5%;
    height: auto;
  }
}

@media only screen and (min-width: 10px) and (max-width: 451px) {
  * {
  }
  * .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 9%;
    padding-right: 9%;
  }
  * .footer img {
    width: 57%;
    height: auto;
  }
  * .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: start;
        align-self: start;
    margin: 3%;
    background-color: #e5e5e5;
    border-radius: 7px 0px 0px 7px;
  }
  * .categories h1 {
    font-family: 'Kite One', sans-serif;
  }
  * .categories img {
    border-radius: 7px 0px 0px 7px;
    width: 50%;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  * .footer {
    position: fixed;
    bottom: 0;
    width: 57vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3%;
  }
  * .footer img {
    width: 28.5%;
    height: auto;
  }
  * .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3%;
  }
  * .footer img {
    width: 28.5%;
    height: auto;
  }
}

* .page404 {
  min-height: 450px;
  height: 100vh;
  background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000);
}

* .page404 .stage {
  height: 300px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-perspective: 9999px;
          perspective: 9999px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

* .page404 .stage .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
          animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: rotateY(40deg) rotateX(33deg) translateZ(0);
          transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

* .layer:after {
  font: 150px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  content: '404  :( \A   Page not\A Found';
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

* .layer:nth-child(1):after {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

* .layer:nth-child(2):after {
  -webkit-transform: translateZ(-1.5px);
          transform: translateZ(-1.5px);
}

* .layer:nth-child(3):after {
  -webkit-transform: translateZ(-3px);
          transform: translateZ(-3px);
}

* .layer:nth-child(4):after {
  -webkit-transform: translateZ(-4.5px);
          transform: translateZ(-4.5px);
}

* .layer:nth-child(5):after {
  -webkit-transform: translateZ(-6px);
          transform: translateZ(-6px);
}

* .layer:nth-child(6):after {
  -webkit-transform: translateZ(-7.5px);
          transform: translateZ(-7.5px);
}

* .layer:nth-child(7):after {
  -webkit-transform: translateZ(-9px);
          transform: translateZ(-9px);
}

* .layer:nth-child(8):after {
  -webkit-transform: translateZ(-10.5px);
          transform: translateZ(-10.5px);
}

* .layer:nth-child(9):after {
  -webkit-transform: translateZ(-12px);
          transform: translateZ(-12px);
}

* .layer:nth-child(10):after {
  -webkit-transform: translateZ(-13.5px);
          transform: translateZ(-13.5px);
}

* .layer:nth-child(11):after {
  -webkit-transform: translateZ(-15px);
          transform: translateZ(-15px);
}

* .layer:nth-child(12):after {
  -webkit-transform: translateZ(-16.5px);
          transform: translateZ(-16.5px);
}

* .layer:nth-child(13):after {
  -webkit-transform: translateZ(-18px);
          transform: translateZ(-18px);
}

* .layer:nth-child(14):after {
  -webkit-transform: translateZ(-19.5px);
          transform: translateZ(-19.5px);
}

* .layer:nth-child(15):after {
  -webkit-transform: translateZ(-21px);
          transform: translateZ(-21px);
}

* .layer:nth-child(16):after {
  -webkit-transform: translateZ(-22.5px);
          transform: translateZ(-22.5px);
}

* .layer:nth-child(17):after {
  -webkit-transform: translateZ(-24px);
          transform: translateZ(-24px);
}

* .layer:nth-child(18):after {
  -webkit-transform: translateZ(-25.5px);
          transform: translateZ(-25.5px);
}

* .layer:nth-child(19):after {
  -webkit-transform: translateZ(-27px);
          transform: translateZ(-27px);
}

* .layer:nth-child(20):after {
  -webkit-transform: translateZ(-28.5px);
          transform: translateZ(-28.5px);
}

* .layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

* .layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px dodgerblue;
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

* .layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #0077ea;
}

* .layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

* .layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

@-webkit-keyframes ಠ_ಠ {
  100% {
    -webkit-transform: rotateY(-40deg) rotateX(-43deg);
            transform: rotateY(-40deg) rotateX(-43deg);
  }
}

@keyframes ಠ_ಠ {
  100% {
    -webkit-transform: rotateY(-40deg) rotateX(-43deg);
            transform: rotateY(-40deg) rotateX(-43deg);
  }
}
/*# sourceMappingURL=index.css.map */