* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
* body {
  background-color: rgb(212, 211, 211);
  overflow-x: hidden;
}
@media only screen and (min-width: 10px) and (max-width: 451px) {
  * body {
    @import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");
  }
  * body .navbar {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }
  * body .navbar .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  * body .navbar .container .menu-items {
    display: flex;
  }
  * body .navbar .nav-container {
    justify-content: space-between;
    align-items: center;
    display: block;
    position: relative;
    height: 60px;
  }
  * body .navbar .nav-container li {
    list-style: none;
  }
  * body .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  * body .navbar .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  * body .navbar .nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  * body .navbar .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  * body .navbar .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  * body .navbar .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  * body .navbar .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  * body .navbar .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  * body .navbar .menu-items {
    padding-top: 120px;
    background: white;
    box-shadow: inset 0 0 2000px rgba(133, 128, 128, 0.795);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    border-bottom-right-radius: 16px;
  }
  * body .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
  * body .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9%;
    padding-right: 9%;
  }
  * body .footer img {
    width: 57%;
    height: auto;
  }
  * body .HomeComponent {
    overflow: hidden;
  }
  * body .HomeComponent a {
    color: black;
  }
  * body .HomeComponent .Home-section .myPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  * body .HomeComponent .Home-section .myPhoto img {
    padding: 9%;
    width: 100%;
    border-radius: 63px;
  }
  * body .HomeComponent .text-on-app h1 {
    margin: auto auto 30px auto;
    font-size: 21px;
  }
  * body .HomeComponent .text-on-app h4 {
    color: hsl(233.25, 83.33%, 18.82%);
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Kite One";
    margin-bottom: 30px;
  }
  * body .HomeComponent .text-on-app p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8em;
  }
  * body .HomeComponent .onApp {
    background: #081158;
    font-size: 14px;
    color: white;
    padding: 39%;
    transform: rotate(-3deg);
    margin: 13% -18% 39px -18%;
  }
  * body .HomeComponent .onApp .putOnApp {
    display: grid;
    align-content: space-evenly;
    justify-content: space-around;
    justify-items: start;
    gap: 40%;
    transform: rotate(3deg);
  }
  * body .HomeComponent .onApp .putOnApp div h3 {
    font-size: 37px;
    height: 1.1em;
  }
  * body .HomeComponent .onApp .putOnApp div p {
    font-size: 20px;
    height: 1.6em;
  }
  * body .HomeComponent .text h1 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 5%;
  }
  * body .HomeComponent button {
    display: block;
    min-width: 200px;
    padding: 20px 20px 20px 40px;
    border-radius: 6px;
    background-color: var(--swatch_f6df8603);
    background: #081158;
    background-position: 20px 50%;
    background-size: auto 15px;
    line-height: 1.6em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: auto;
    color: white;
  }
  * body .HomeComponent button a {
    text-decoration: none;
    color: white;
  }
  * body .categories {
    text-decoration: none;
    padding-top: 5%;
  }
  * body .categories section .HomeLink {
    align-items: center;
    text-align: center;
    text-decoration: none;
  }
  * body .categories section .HomeLink img {
    margin: auto;
    animation: shadow-for-image 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 15px;
  }
  * body .categories section .HomeLink h4 {
    padding: 5% 0 5% 0;
    font-family: "Sato";
  }
  * body .categories section .HomeLink p {
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 12%;
    margin: 5%;
  }
  @keyframes shadow-for-image {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 transparent;
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    }
  }
  * body .RecipesComponent .Recipes-data .main {
    max-width: 1200px;
    margin: 0 auto;
  }
  * body .RecipesComponent .Recipes-data .main .cards {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 1px;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item {
    display: flex;
    padding: 1rem;
    padding-left: 4rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(rgba(0, 0, 0, 0) 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom/100% 100%, linear-gradient(red 0 0) 30px 0/2px 100% #fff;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    -webkit-mask: radial-gradient(circle 0.8rem at 2px 50%, rgba(0, 0, 0, 0) 98%, #000) 0 0/100% 2.4rem;
            mask: radial-gradient(circle 0.8rem at 2px 50%, rgba(0, 0, 0, 0) 98%, #000) 0 0/100% 2.4rem;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image {
    height: 15.6rem;
    padding: 1.2rem 1.2rem 0;
    position: relative;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 230px;
    height: 230px;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:before,
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:after {
    content: " ";
    position: absolute;
    width: 20px;
    left: 60%;
    top: 0;
    height: 45px;
    background: rgba(230, 230, 230, 0.7215686275);
    transform: rotate(45deg);
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:after {
    transform: rotate(-45deg);
    top: auto;
    bottom: -22px;
    left: 40%;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content {
    padding: 1.2rem;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content .card_title {
    font-size: 1.3em;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content .card_text p {
    margin: 1.2rem 0;
  }
}
@media only screen and (min-width: 451px) and (max-width: 1024px) {
  * body {
    @import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");
  }
  * body .navbar {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }
  * body .navbar .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  * body .navbar .container .menu-items {
    display: flex;
  }
  * body .navbar .nav-container {
    justify-content: space-between;
    align-items: center;
    display: block;
    position: relative;
    height: 60px;
  }
  * body .navbar .nav-container li {
    list-style: none;
  }
  * body .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  * body .navbar .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  * body .navbar .nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  * body .navbar .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  * body .navbar .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  * body .navbar .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  * body .navbar .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  * body .navbar .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  * body .navbar .menu-items {
    padding-top: 120px;
    background: white;
    box-shadow: inset 0 0 2000px rgba(133, 128, 128, 0.795);
    height: 100vh;
    width: 143%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    border-bottom-right-radius: 16px;
  }
  * body .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  * body .navbar .nav-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
  * body .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
  }
  * body .footer img {
    width: 28.5%;
    height: auto;
  }
  * body .HomeComponent {
    overflow: hidden;
  }
  * body .HomeComponent a {
    color: black;
  }
  * body .HomeComponent .Home-section .myPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  * body .HomeComponent .Home-section .myPhoto img {
    padding: 9%;
    width: 100%;
    border-radius: 130px;
  }
  * body .HomeComponent .text-on-app h1 {
    margin: auto auto 30px auto;
    font-size: 21px;
  }
  * body .HomeComponent .text-on-app h4 {
    color: hsl(233.25, 83.33%, 18.82%);
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Kite One";
    margin-bottom: 30px;
  }
  * body .HomeComponent .text-on-app p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8em;
  }
  * body .HomeComponent .onApp {
    background: #081158;
    font-size: 14px;
    color: white;
    padding: 39%;
    transform: rotate(-3deg);
    margin: 13% -18% 39px -18%;
  }
  * body .HomeComponent .onApp .putOnApp {
    display: grid;
    align-content: space-evenly;
    justify-content: space-around;
    justify-items: start;
    gap: 40%;
    transform: rotate(3deg);
  }
  * body .HomeComponent .onApp .putOnApp div h3 {
    font-size: 37px;
    height: 1.1em;
  }
  * body .HomeComponent .onApp .putOnApp div p {
    font-size: 20px;
    height: 1.6em;
  }
  * body .HomeComponent .text h1 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 5%;
  }
  * body .HomeComponent button {
    display: block;
    min-width: 200px;
    padding: 20px 20px 20px 40px;
    border-radius: 6px;
    background-color: var(--swatch_f6df8603);
    background: #081158;
    background-position: 20px 50%;
    background-size: auto 15px;
    line-height: 1.6em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: auto;
    color: white;
  }
  * body .HomeComponent button a {
    text-decoration: none;
    color: white;
  }
  * body .categories {
    text-decoration: none;
    padding-top: 5%;
  }
  * body .categories section .HomeLink {
    align-items: center;
    text-align: center;
    text-decoration: none;
  }
  * body .categories section .HomeLink img {
    margin: auto;
    animation: shadow-for-image 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 15px;
  }
  * body .categories section .HomeLink h4 {
    padding: 5% 0 5% 0;
    font-family: "Sato";
  }
  * body .categories section .HomeLink p {
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 12%;
    margin: 5%;
  }
  @keyframes shadow-for-image {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 transparent;
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    }
  }
  * body .RecipesComponent .Recipes-data .main {
    max-width: 1200px;
    margin: 0 auto;
  }
  * body .RecipesComponent .Recipes-data .main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    margin: 0;
    padding: 1px;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item {
    display: flex;
    padding: 1rem;
    padding-left: 4rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(rgba(0, 0, 0, 0) 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom/100% 100%, linear-gradient(red 0 0) 30px 0/2px 100% #fff;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    -webkit-mask: radial-gradient(circle 0.8rem at 2px 50%, rgba(0, 0, 0, 0) 98%, #000) 0 0/100% 2.4rem;
            mask: radial-gradient(circle 0.8rem at 2px 50%, rgba(0, 0, 0, 0) 98%, #000) 0 0/100% 2.4rem;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image {
    height: 15.6rem;
    padding: 1.2rem 1.2rem 0;
    position: relative;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 230px;
    height: 230px;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:before,
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:after {
    content: " ";
    position: absolute;
    width: 20px;
    left: 60%;
    top: 0;
    height: 45px;
    background: rgba(230, 230, 230, 0.7215686275);
    transform: rotate(45deg);
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:after {
    transform: rotate(-45deg);
    top: auto;
    bottom: -22px;
    left: 40%;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content {
    padding: 1.2rem;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content .card_title {
    font-size: 1.3em;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content .card_text p {
    margin: 1.2rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  * body {
    @import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");
  }
  * body .navbar {
    font-family: "Poppins", sans-serif;
    width: 100%;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }
  * body .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  * body .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  * body .navbar .menu-items {
    display: flex;
  }
  * body .navbar .nav-container li {
    list-style: none;
  }
  * body .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  * body .navbar .nav-container a:hover {
    font-weight: bolder;
  }
  * body .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  * body .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  * body .nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  * body .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  * body .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  * body .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  * body .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  * body .navbar .menu-items {
    padding-top: 120px;
    background: white;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  * body .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  * body .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  * body .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  * body .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  * body .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  * body .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  * body .nav-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
  * body .footer {
    position: fixed;
    bottom: 0;
    width: 57vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
  }
  * body .footer img {
    width: 28.5%;
    height: auto;
  }
  @keyframes a-ltr-after {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(101%);
    }
  }
  @keyframes a-ltr-before {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200%);
    }
  }
  * body .HomeComponent {
    padding-top: 1%;
  }
  * body .HomeComponent .Home-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  * body .HomeComponent .Home-section .aboutMe {
    height: auto;
    width: 100%;
    padding-left: 10.2%;
  }
  * body .HomeComponent .Home-section .aboutMe img {
    border-radius: 10px;
    width: 63%;
  }
  * body .HomeComponent .Home-section .text-on-app {
    z-index: -1;
    padding-right: 10.2%;
  }
  * body .HomeComponent .Home-section .text-on-app h4 {
    font-size: 54px;
    font-weight: normal;
  }
  * body .HomeComponent .Home-section .text-on-app h4,
  * body .HomeComponent .Home-section .text-on-app h1 {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
  }
  * body .HomeComponent .Home-section .text-on-app h4::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
    transform: translateX(-101%);
  }
  * body .HomeComponent .Home-section .text-on-app h4::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #d8d8d8;
    animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
    transform: translateX(0);
  }
  * body .HomeComponent .Home-section .text-on-app h1,
  * body .HomeComponent .Home-section .text-on-app h4:nth-of-type(1)::before,
  * body .HomeComponent .Home-section .text-on-app h1,
  * body .HomeComponent .Home-section .text-on-app h4:nth-of-type(1)::after {
    animation-delay: 1s;
  }
  * body .HomeComponent .Home-section .text-on-app h1,
  * body .HomeComponent .Home-section .text-on-app h4:nth-of-type(2)::before,
  * body .HomeComponent .Home-section .text-on-app h1,
  * body .HomeComponent .Home-section .text-on-app h4:nth-of-type(2)::after {
    animation-delay: 1.5s;
  }
  * body .HomeComponent .buttons {
    margin-top: 3%;
    padding: 20px 20px 20px 40px;
    min-width: 200px;
    text-transform: uppercase;
    align-items: center;
    background: #081158;
    cursor: pointer;
    font-size: 15px;
    border-radius: 6px;
    line-height: 1.6em;
    letter-spacing: 2px;
  }
  * body .HomeComponent .buttons a {
    text-decoration: none;
    color: white;
  }
  * body .HomeComponent .onApp {
    background: #081158;
    font-size: 14px;
    color: white;
    padding: 9%;
    transform: rotate(-2deg);
    margin: 6% -2% 0 -2%;
  }
  * body .HomeComponent .onApp .putOnApp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30%;
  }
  * body .HomeComponent .onApp .putOnApp div {
    transform: rotate(1deg);
  }
  * body .HomeComponent .onApp .putOnApp div h3 {
    font-size: 30px;
    height: 1.1em;
  }
  * body .HomeComponent .onApp .putOnApp div p {
    font-size: 14px;
    height: 1.6em;
  }
  * body .HomeComponent .text {
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    color: #081158;
    font-size: 14px;
    text-align: center;
  }
  * body .HomeComponent .text h1 {
    font-size: 72px;
  }
  * body .HomeComponent .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
    padding: 0 0 115px 7%;
  }
  * body .HomeComponent .categories section a {
    text-decoration: none;
    color: black;
  }
  * body .HomeComponent .categories section img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 410px;
    height: 410px;
    border-radius: 5%;
  }
  * body .HomeComponent .categories section h4 {
    padding: 1% 0 0 29%;
  }
  * body .HomeComponent .categories section p {
    padding-right: 28%;
  }
  * body .RecipesComponent .Recipes-data .main .cards {
    display: inline-block;
    list-style: none;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item {
    padding: 1rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    flex-direction: row;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(rgba(0, 0, 0, 0) 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom/100% 100%, linear-gradient(red 0 0) 30px 0/2px 100% #fff;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    -webkit-mask: radial-gradient(circle 0.8rem at 2px 50%, rgba(0, 0, 0, 0) 98%, #000) 0 0/100% 2.4rem;
            mask: radial-gradient(circle 0.8rem at 2px 50%, rgba(0, 0, 0, 0) 98%, #000) 0 0/100% 2.4rem;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image {
    height: 15.6rem;
    padding: 1.2rem 1.2rem 0;
    position: relative;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 230px;
    height: 230px;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:before,
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:after {
    content: " ";
    position: absolute;
    width: 20px;
    left: 60%;
    top: 0;
    height: 45px;
    background: rgba(230, 230, 230, 0.7215686275);
    transform: rotate(45deg);
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_image:after {
    transform: rotate(-45deg);
    top: auto;
    bottom: -22px;
    left: 40%;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content {
    padding: 1.2rem;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content .card_title {
    font-size: 1.3em;
  }
  * body .RecipesComponent .Recipes-data .main .cards .cards_item .card .card_content .card_text p {
    margin: 1.2rem 0;
  }
}/*# sourceMappingURL=index.css.map */