.RecipesComponent {
  .add-recipe {
  }
  .Recipes-data {
    .main {
      max-width: 1200px;
      margin: 0 auto;
      .cards {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        list-style: none;
        margin: 0;
        padding: 1px;
        .cards_item {
          display: flex;
          padding: 1rem;
          padding-left: 4rem;
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
          .card {
            background-color: white;
            border-radius: 0.25rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding-left: 30px;
            background: repeating-linear-gradient(
                  #0000 0 calc(1.2rem - 1px),
                  #66afe1 0 1.2rem
                )
                right bottom / 100% 100%,
              linear-gradient(red 0 0) 30px 0/2px 100% #fff;
            background-repeat: no-repeat;
            line-height: 1.2rem;
            mask: radial-gradient(circle 0.8rem at 2px 50%, #0000 98%, #000) 0 0/100%
              2.4rem;

            .card_image {
              height: calc(13 * 1.2rem);
              padding: 1.2rem 1.2rem 0;
              position: relative;
              img {
                object-fit: cover;
                width: 230px;
                height: 230px;
              }
            }
            .card_image:before,
            .card_image:after {
              content: " ";
              position: absolute;
              width: 20px;
              left: 60%;
              top: 0;
              height: 45px;
              background: #e6e6e6b8;
              transform: rotate(45deg);
            }
            .card_image:after {
              transform: rotate(-45deg);
              top: auto;
              bottom: -22px;
              left: 40%;
            }

            .card_content {
              padding: 1.2rem;
              .card_title {
                font-size: 1.3em;
              }
              .card_text {
                p {
                  margin: 1.2rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
