@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.Home {
    padding-top: 3%;

    .Home-section {
        padding-left: 4%;
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 4%;

        .aboutMe {
            position: relative;

            h2 {
                position: absolute;
                z-index: -2;
                font-family: "Permanent Marker";
                font-size: 4rem;
                padding-left: 4%;
            }

            .imgDiv {
                border-radius: 10px 10px 10px 10px;

                img {
                    border-radius: 10px 10px 10px 10px;
                    width: 100%;
                    padding-top: 12%;
                    height: auto;
                    position: static;
                }
            }

            .buttons {
                button {
                    background: rgba(8, 17, 88, 0.2);
                    // padding: 20px 20px 20px 40px;
                    border-radius: 50%;
                    z-index: 4;
                    position: absolute;
                    top: 85%;
                    font-size: 16px;
                    padding: 12px 24px;
                    width: 100px;
                    height: 100px;
                    cursor: pointer;
                }

                :first-child {
                    left: 7%;
                }

                :nth-child(2) {
                    left: 67%;
                }
            }
        }

        .text-on-app {
            padding-top: 19%;

            p {
                margin-top: 4cm;
                font-size: 20px;
            }

            h1 {
                font-size: 72px;
            }

            a {
                cursor: pointer;
                color: white;
                text-decoration: none;
            }

            button {
                margin-top: 46%;
                padding: 20px 20px 20px 40px;
                min-width: 200px;
                font-size: 14px;
                text-transform: uppercase;
                align-items: center;
                color: white;
                background: $blueColor;
            }
        }
    }

    .onApp {
        background: $blueColor;
        font-size: 14px;
        color: white;
        padding: 9%;
        transform: rotate(-2deg);
        margin: 6% -2% 0 -2%;

        .putOnApp {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30%;

            div {
                transform: rotate(1deg);

                h3 {
                    font-size: 30px;
                    height: 1.1em;
                }

                p {
                    font-size: 14px;
                    height: 1.6em;
                }
            }
        }
    }

    .text {
        padding-top: 6%;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 4%;
        color: $blueColor;
        font-size: 14px;
        text-align: center;

        h1 {
            font-size: 72px;
        }

        button {
            margin-top: 4%;
            padding: 20px 20px 20px 40px;
            min-width: 200px;
            font-size: 14px;
            text-transform: uppercase;
            align-items: center;
            color: white;
            background: $blueColor;
        }
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4%;
        padding: 0 0 115px 7%;
        text-decoration: none;

        h4 {
            font-family: 'sato';
            max-width: 350px;
        }

        a {
            text-decoration: none;
        }

        img {
            object-fit: cover;
            width: 410px;
            height: 410px;
            border-radius: 5%;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3%;

        img {
            width: 28.5%;
            height: auto;
        }
    }
}