    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3%;

        img {
            width: 28.5%;
            height: auto;
        }
    
}